html,
body{
    height:100%;
    font-size:2 rem;
    font-family: 'Arimo', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Varela Round', sans-serif;
}

.gradient{
    background: rgb(126,99,205);
background: linear-gradient(90deg, rgba(126,99,205,0.6082808123249299) 0%, rgba(44,16,113,1) 100%);
}

.home{
    font-size: 1.10rem;
}
.madde{
    font-size: 0.9rem;
}

.Feature{
    color: white;
    margin-top: 5rem;
}

.Feature ul{
    padding-left: 2rem;
    list-style-type: none;
}

.Feature ul li{
    padding-left: 2rem;
    background-image: url(.../ima/check.svg);
    background-repeat: no repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}   

.icon{
    color: white;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.page-header{
    font-size: 0.8rem;
}
 .photo{
    height: 305px;
 }


.main{
    background-color: white;
}

.contact{
    background-color: white;
    
}

.footer{
    color:white;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

.a{
    color: white;
    text-decoration: none;
}


.card{
    position:relative;
    overflow:hidden;
}

.card:before{
    position: absolute;
    content: "";
    width: 80%;
    height: 220%;
    background: rgb(48, 31, 97);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}

.card:hover:before{
    left: 10%;
}

.card img{
    width: 100%;
    height: 90%;
}

.card-text{
    width: 100%;
    padding: 0 20px;
    top: -100%;
    position: absolute;
    top: 100%;
    color: azure;
    left: 0;
    z-index: 2;
    transition: 1.1s;
}

.card-text{
    font-family: poppins;
}

.card:hover .card-text{
    top:80px;
}

.page{
    width: 100%;
    height: auto; 
}

.page-text{
    width: 100%;
    padding: 0 20px;
    top: -100%;
    position: absolute;
    top: 100%;
    color: azure;
    left: 0;
    z-index: 2;
    transition: 1.1s;
}
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding-bottom: 150px;    
    text-align: center;
    background-color: #474e5d;
    color: white;
    
  }
  .about-section h5{
    font-family: 'Allura', cursive;
    font-size: 2.1rem;
  }

  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /*--Section Contact--*/
.card-footer{
    font-size: .8rem;
    color: silver;
    background-color: rgb(185, 175, 209);
}
.card {
    box-shadow: 0 4px 8px 0 ;
    margin: 8px;
  }
  
  
  /*--Section Contact--*/
  footer{
      background-color: rgba(31, 20, 70, 0.603);
      color: white;
      padding: 2rem 0 2rem;
      margin-top: 1rem;
      }
footer img{
    height: 3rem;
    margin: 1.5rem 0;
}

footer a{
    color: white;
}

